<div class="row justify-content-center mt-5 align-items-center">
  
  <div class="card text-white bg-dark m-5 mb-1 mt-2 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-warning" style="max-width: 18rem;">
    <div class="card-header"><h3><b>Vendedor de Productos Técnicos</b></h3></div>
    <div class="card-body">
      <h4 class="card-title">Fnac | Julio 2010 - Actualmente</h4>
    </div>
    <div class="card-foot">
        <h5 class="card-title">
            <ul>
                <li>Venta de productos técnicos y reposición</li>
                <li>Colaboración en Postventa, Logística & Clínica micro</li>
            </ul>
        </h5>
    </div>
  </div>

  <div class="card text-white bg-dark m-5 mb-1 mt-2 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-primary" style="max-width: 18rem;">
    <div class="card-header"><h3><b>Frontend developer Junior</b></h3></div>
    <div class="card-body">
      <h3 class="card-title">Besoftware | Marzo 2020 - Abril 2020</h3>
    </div>
    <div class="card-foot">
        <h5 class="card-title">
            <ul>
                <li>Programación Angular, Html, Css, Bootstrap, Javascript, Sql y Php</li>
            </ul>
        </h5>
    </div>
  </div>
  
  <div class="card text-white bg-dark m-5 mb-1 mt-2 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-success" style="max-width: 18rem;">
    <div class="card-header"><h3><b>Frontend developer Junior y Técnico informático</b></h3></div>
    <div class="card-body">
      <h3 class="card-title">Ayuntamiento de Istán | Octubre 2019 - Febrero 2020</h3>
    </div>
    <div class="card-foot">
        <h5 class="card-title">
            <ul>
                <li>Gestionar el entorno Guadalinfo</li>
                <li>Mantenimiento de equipos</li>
                <li>Soporte & enseñanza para los ciudadanos y organismo público</li>
            </ul>
        </h5>
    </div>
  </div>

  <div class="card text-white bg-dark m-5 mb-1 mt-2 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-danger" style="max-width: 18rem;">
    <div class="card-header"><h3><b>Técnico informático & Profesor</b></h3></div>
    <div class="card-body">
      <h3 class="card-title">C.P. Rafael Fernández-Mayoralas | Septiembre 2005 - Junio 2008</h3>
    </div>
    <div class="card-foot">
        <h5 class="card-title">
            <ul>
                <li>Montaje & Mantenimiento de equipos</li>
                <li>Enseñanza a los niños & padres</li>
            </ul>
        </h5>
    </div>
  </div>

  <div class="card text-white bg-dark m-5 mb-1 mt-2 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-info" style="max-width: 18rem;">
    <div class="card-header"><h3><b>Técnico informático</b></h3></div>
    <div class="card-body">
      <h3 class="card-title">CM Locutorio | Junio 2007- Junio 2008</h3>
    </div>
    <div class="card-foot">
        <h5 class="card-title">
            <ul>
                <li>Montaje & Mantenimiento de equipos</li>
            </ul>
        </h5>
    </div>
  </div>


  
  </div>