<div class="row justify-content-center mt-5 align-items-center">
  
    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/html.svg" class="rounded mx-auto d-block" alt="..." >
      </div>
    </div>

    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/bootstrap.svg" class="rounded mx-auto d-block" alt="..." >
      </div>
    </div>

    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/javascript.svg" class="rounded mx-auto d-block" alt="..." >
      </div>
    </div>

    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/angular.svg" class="rounded mx-auto d-block" alt="..." >
      </div>
    </div>

    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/auth0.svg" class="rounded mx-auto d-block" alt="...">
      </div>
    </div>

    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/firebase.png" class="rounded mx-auto d-block" alt="..." >
      </div>
    </div>

    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/fontawesome.png" class="rounded mx-auto d-block" alt="..." >
      </div>
    </div>

    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/github.png" class="rounded mx-auto d-block" alt="..." >
      </div>
    </div>

    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/ionic.jpg" class="rounded mx-auto d-block" alt="..." >
      </div>
    </div>

    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/sql.jpg" class="rounded mx-auto d-block" alt="..." >
      </div>
    </div>

    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/sweetalert2.png" class="rounded mx-auto d-block" alt="..." >
      </div>
    </div>

    <div class="card text-white bg-dark m-5 mb-1 mt-2 col-2 col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 border-0" style="max-width: 18rem;">
      <div class="card-body">
        <img src="../../../assets/image/typescript.png" class="rounded mx-auto d-block" alt="..." >
      </div>
    </div>

</div>

