.centrar{
    text-align: center;
}

img {
    transition:transform 0.25s ease;
}
    

@media screen and (min-width: 1025px){     /*Más de 1025px -> PC / TV*/
    button{
        padding-left: 200px;
    }

    img{
        width: 300px;
    }
    img:hover {
       -webkit-transform:scale(3); 
        transform:scale(3);
}
}


@media screen and (width: 1024px){     /*Con 1024px -> Lapto*/
    button{
        padding-left: 200px;
    }

    img{
        width: 250px;
    }
    img:hover {
       -webkit-transform:scale(3); 
        transform:scale(3);
}
}


@media screen and (width: 768px){     /*Con 768px -> Tablet*/
    button{
        padding-left: 150px;
    }

    img{
        width: 200px;
    }
    img:hover {
       -webkit-transform:scale(3); 
        transform:scale(3);
    }
}


@media screen and (max-width: 612px){     /*Menos de 612px*/
    button{
        padding-left: 100px;
    }

    img{
        width: 300px;
    }
    img:hover {
       -webkit-transform:scale(1.5); 
        transform:scale(1.5);
        /* -webkit-transform:scale(0,5);  //Desaparece la imagen hacia dentro
        transform:scale(0,5); */
}
}


@media screen and (width: 540px){     /*Con 540px  -> Surface Duo*/
    button{
        padding-left: 130px;
    }

    img{
        width: 400px;
    }
    img:hover {
       -webkit-transform:scale(1.5); 
        transform:scale(1.5);
}
}

@media screen and (width: 360px){     /*Con 360px ->  -> Mobile Moto G*/
    button{
        padding-left: 80px;
    }

    img{
        width: 250px;
    }
    img:hover {
       -webkit-transform:scale(1.4); 
        transform:scale(1.4);
}
}

@media screen and (max-width: 320px){     /*Menos de 320px ->  -> Mobile Galaxy Fold*/
    button{
        padding-left: 60px;
    }

    img{
        width: 200px;
    }
    img:hover {
       -webkit-transform:scale(3); 
        transform:scale(3);
}
}

@media screen and (max-width: 280px){     /*Menos de 280px ->  -> Mobile Galaxy Fold*/
    button{
        padding-left: 60px;
    }

    img{
        width: 200px;
    }
    img:hover {
       -webkit-transform:scale(1.3); 
        transform:scale(1.3);
}
}

