<div class="row justify-content-center mt-5">
        
    <!-- <div class="card text-white bg-dark m-5 mb-1 mt-1 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-danger" style="max-width: 18rem;">
      <div class="card-header">Si quieres saber más puedes:</div>
      <div class="card-body">
        <h5 class="card-title"><a href="#" class="card-link">Hablar conmigo</a>
          <a href="#" class="card-link">Hablar con mi representante</a> </h5>
      </div>
    </div> -->
  
    <div class="card text-white bg-dark col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h2 class="centrar">Técnico Superior<br>Administración de Sistemas Informáticos</h2>
        <img src="../../../assets/image/fp.jpg" class="rounded mx-auto d-block" alt="..." >
        <h6 class="card-foot centrar">Año de obtención: 2008</h6>
        <br>
        <h2 class="centrar">Certificado<br>Angular y metodologías Agiles</h2>
        <img src="../../../assets/image/CertificadoAngular.jpg" class="rounded mx-auto d-block" alt="..." >
        <h6 class="card-foot centrar">Año de obtención: 2020</h6>
        <br>
        <h2 class="centrar">Cursos</h2>
        <img src="../../../assets/image/1.jpg" class="rounded mx-auto d-block" alt="..." >
        <h6 class="card-foot centrar">Año de obtención: 2021</h6>
        <img src="../../../assets/image/2.jpg" class="rounded mx-auto d-block" alt="..." >
        <h6 class="card-foot centrar">Año de obtención: 2021</h6>
        <img src="../../../assets/image/3.jpg" class="rounded mx-auto d-block" alt="..." >
        <h6 class="card-foot centrar">Año de obtención: 2021</h6>
        <img src="../../../assets/image/4.jpg" class="rounded mx-auto d-block" alt="..." >
        <h6 class="card-foot centrar">Año de obtención: 2020</h6>
        <br><br><br><br>
        <br><br><br><br>
    </div>
  
</div>