<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a [routerLink]="['/home']"><img src="../../../assets//image/Foto.jpg" width="50px" height="50px" id="circulo" class="mx-3"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/datos']">Datos personales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/formacion']">Formación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/experiencias']">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/conocimientos']">Conocimientos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Proyectos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="https://sodertweb.web.app" target="_blank">Manual Sodert</a></li>
              <li><a class="dropdown-item" href="https://peluqueria-pruden.web.app/"  target="_blank">Peluquería pruden</a></li>
              <li><a class="dropdown-item" href="https://universoufologiamisterios.web.app/"  target="_blank">Universo de la ufología y misterios</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>