<p class="card-text text-white borde centrar mt-5 mx-5">Soy una persona con muchas ganas de trabajar, muy activo, polivalente y trabajador, cuento con experiencia en varios ámbitos, ya que soy una personal muy versátil y de aprendizaje rápido, siempre dispuesto a seguir progresando. Estoy dispuesto a cambiar de lugar de trabajo ya que no tengo problema de cambiar de comunidad autónoma ni ciudad</p>

<div class="row justify-content-center mt-5">

<div class="card text-white bg-dark m-5 mb-1 mt-1 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-success" style="max-width: 18rem;">
  <div class="card-header">Email</div>
  <div class="card-body">
    <h5 class="card-title">adrianlm1985@gmail.com</h5>
  </div>
</div>

<div class="card text-white bg-dark m-5 mb-1 mt-1 col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-success" style="max-width: 18rem;">
  <div class="card-header">Teléfono</div>
  <div class="card-body">
    <h5 class="card-title">697865094</h5>
  </div>
</div>

</div>